# --- Python (Back-end) ---
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.db
**/*.sqlite3
venv/
.venv/

# --- Angular (Front-end) ---
**/node_modules/
**/dist/
**/.angular/

# --- IDEs e Sistema ---
.vscode/
.DS_Store